div.hit {
    color: #009933;
    display: inline;
}

div.miss {
    color: #cc0000;
    display: inline;
}

.riddle-image-padding {
    padding: 2% 0 2% 0;
}

.center {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.button-margin {
    margin: 1% 0 1% 0
}

.prompt {
    display: inline;
    font-size: 1.5em;
}

.instructions {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
}
